.toy-cards__container {
  position: relative;
  top: 0;
  left: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - 400px);
  padding: 30px 30px 90px 30px;
}

.toy-cards__message {
  font-size: 26px;
}

.toy-cards__message.hidden {
  display: none;
}

.toy-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.card {
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  gap: 20px;
  width: 304px;
  height: 280px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #278D9F;
  background-color: rgba(31, 112, 127, .3);
  backdrop-filter: blur(6px);
  cursor: pointer;
}

.card:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.02);
  opacity: 0.8;
}

.card-title {
  width: 100%;
  height: 40px;
  font-size: 19px;
}

.card-image {
  width: 90px;
  height: 112px;
  object-fit: contain;
}

.card-decription {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 170px;
  width: 160px;
}

.ribbon {
  position: absolute;
  top: 210px;
  width: 80px;
  height: 40px;
  background: #24C5DB;
  left: -8px;
  transition: 0.3s ease-in-out;
}

.ribbon:before {
  border-bottom: 8px solid #14455b;
  border-left: 8px solid transparent;
  top: -8px;
}

.ribbon:after {
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 15px solid #24C5DB;
  right: -15px;
  transition: 0.3s ease-in-out;
}

.ribbon::before, .ribbon::after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
}

.card.selected .ribbon {
  background: #CBB77A;
}

.card.selected .ribbon:after {
  border-left: 15px solid #CBB77A;
}

.card.hidden {
  display: none;
}

.card.max-slots::before {
  content: 'Извините, все слоты заполнены';
  position: absolute;
  top: 40px;
  left: 0px;
  height: 30px;
  width: 304px;
  background-color: #a62b2b;
  text-align: center;
  padding-top: 7px;
  font-size: 17px;
}

@media (max-width: 768px) {

  .toy-cards__container {
    top: 0;
    left: 0;
    width: 100%;
  }

}