.active {
  background-color: coral;
}

.toy-cards__message.hidden {
  display: none;
}

.card {
  position: relative;
  width: 250px;
  height: 200px;
  background-color: bisque;
  cursor: pointer;
}

.card.hidden {
  display: none;
}

.card.max-slots::before {
  content: 'Извините, все слоты заполнены';
  position: absolute;
  top: 80px;
  left: 0;
  height: 21px;
  width: 250px;
  background-color: cadetblue;
}

.card.selected {
  background-color: coral;
}