* {
  margin: 0;
  box-sizing: border-box;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #ffffff;
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
  width: 100vw;
  padding: 0 35px;
  font-size: 24px;
  text-transform: uppercase;
  background-color: #121C1E;
  z-index: 10;
}
.header__nav {
  width: 100%;
}

.header__nav-list {
  display: flex;
  align-items: center;
  gap: 60px;
}

.header__nav-item {
  position: relative;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.header__nav-item:hover {
  filter: opacity(0.5);
  transform: scale(1.02);
}

.nav-main {
  width: 40px;
  height: 50px;
  background-image: url("./assets/svg/tree.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.active-link::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: -5px;
  height: 3px;
  background-color: #278D9F;
  width: calc(100% + 10px);
}

.main {
  position: relative;
  top: 7vh;
  min-height: 86vh;
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7vh;
  width: 100vw;
  padding: 0 35px;
  background-color: #121C1E;
  z-index: 10;
}

.rss-link {
  width: 80px;
  height: 30px;
  background-image: url("./assets/svg/rss.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s ease-in-out;
}

.footer-info {
  display: flex;
  align-items: flex-end;
  gap: 15px;
  font-size: 16px;
}

.git-link {
  width: 35px;
  height: 35px;
  background-image: url("./assets/svg/github.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s ease-in-out;
}

.git-link:hover,
.rss-link:hover {
  filter: opacity(0.5);
  transform: scale(1.02);
}

.git-link:active,
.rss-link:active {
  transform: scale(1.1);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #121C1E;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
