.toys-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
}

.toy-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 85px;
  border-radius: 10px;
  background-color: rgba(54, 57, 69, .3);
  border: 2px solid rgba(147, 149, 151, .5);
  transition: 0.3s ease-in-out;
}

.toys-count {
  align-self: flex-end;
  width: 27px;
  height: 27px;
  line-height: 25px;
  text-align: center;
  margin-left: 60px;
  border-radius: 8px 0;
  background-color: rgba(147, 149, 151, .5);
  font-size: 14px;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}

.toy-card:hover {
  background-color: rgba(31, 112, 127, .3);
}

.toys-img {
  position: absolute;
  height: 50px;
  width: 50px;
  cursor: move;
  z-index: 2;
}

area {
  position: relative;
  left: 220px;
  top: -710px;
}
